.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(112, 179, 202);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: rgb(244, 245, 247);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 14px;
  color: rgb(128, 128, 128);
}

.sidebarList {
  list-style: none;
  padding: 7px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgba(197, 214, 224, 0.459);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
